<div class="container__big-card">
  <div class="big-card__photo">
    <img
      src="https://media.contentapi.ea.com/content/dam/news/www-ea/images/2022/09/ea-motive-new-title-teaser-16x9-featured.jpg.adapt.crop191x100.628p.jpg"
      alt=""
      >
  </div >
  <div class="big-card__title">
    <h1><a href="">Saiu a nova versão do Angular</a></h1>
  </div>
  <div class="big-card__description">
    <p>
      <a href="#">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero provident et qui error eos, quod, accusamus reiciendis ducimus dolorum sed harum ullam distinctio iste labore, hic neque. Inventore possimus beatae tempore libero porro esse nostrum excepturi, cumque vero, ab repudiandae.
      </a>
    </p>
  </div>
</div>
