<div class="container__small-card">
  <div class="container__small-card-content">
    <div class="small-card__photo">
      <img src="https://ichef.bbci.co.uk/news/640/cpsprodpb/BF0D/production/_106090984_2e39b218-c369-452e-b5be-d2476f9d8728.jpg"
       alt=""
       >
    </div>
    <div class="small-card__title">
      <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis sequi aliquam alias mollitia repellat? Optio.</h3>
    </div>
  </div>

  <div class="container__small-card__separator">
    <hr>
  </div>
</div>
